.right_filter_id {
    display: inline-block;
    margin-top:20px;
    position: relative;
}

input.filter_id {
    text-indent: 10px;
}

.right_filter_id .filter_id_clcik{
    background-color: #F4F4F4;
    padding: 3px 10px;
    color: #333;
    border: 1px solid;
    cursor: pointer;
}
.right_filter_id .filter_id_clcik:hover {
    color: #DD4B39;
}
.right_filter_id .filter_id_res{
    position: absolute;
    top: 0px;
    left: 123px;
    font-size: 18px;
}
.last_edit {
    background-color: #A5DEFF;
}
.col_my{
    width:15%;
    padding:1%;
    float:left;
    position: relative;
    z-index: 1000000;
}
.col_my_small{
    width:10%;
    padding:1%;
    float:left;
}
button.search_ok {
    padding: 5px 10px;
}
.streets_pred {
    position: absolute;
    z-index: 26;
    background-color: #FFF;
    border: 1px solid #D2D6DE;
    max-height: 200px;
    overflow-y: scroll;
    width: 87%;
    border-top: none;
}
span.home_image {
    position: absolute;
    top: 0;
    left: 15px;
    background: rgba(0, 0, 0, 0.41);
    color: #fff;
    padding: 0 5px;
}
.one_row_of_search{
    cursor: pointer;
}

.contact_block_left_title {
    font-size: 18px;
}

.contact_block_left_content_row {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

span.contact_name_label {
    display: inline-block;
    width: 132px;
    font-weight: bold;
}

label.myCheckbox {
    width: 135px;
    float: left;
    margin-bottom: 0px;
}

input.contact_type1 {
    float: left;
}

p.check_label {
    padding-left: 23px;
}

input.contact_type2 {
    float: left;
}

input.contact_phone1 {
    float: left;
    margin-right: 15px;
    padding: 4px;
}

input.contact_type3 {
    float: left;
}

.skype_contact_time_text {
    font-size: 15px;
    display: inline-block;
    /* width: 24%; */
    margin-right: 14px;
    float: left;
    margin-top: 5px;
    margin-bottom: 0px;
}

span.skype_contact_time_from_label {
    float: left;
    margin: 7px;
}

.styled5 {
    float: left;
}

.skype_contact_time_from {
    display: inline-block;
}

span.skype_contact_time_to_label {
    float: left;
    margin: 7px;
}
.skype_contact_time_zones {
    display: inline-block;
    float: left;
    margin-right: 17px;
}

.skype_contact_time_to {
    display: inline-block;
}

.skype_contact_time_block {
    display: inline-block;
    width: 62%;
}

.skype_contact_time_zones select {
    padding: 5px;
}

select.sk_from_h {
    padding: 5px;
}

select.sk_from_m {
    padding: 5px;
}

select.sk_to_h {
    padding: 5px;
}

select.sk_to_m {
    padding: 5px;
}

.ad_orientation {
    background-color: #eee;
    padding: 10px;
}

input.contact_skype {
    float: left;
    margin-right: 15px;
    padding: 4px;
}

input.contact_email {
    padding: 4px;
    width: 305px;
}

input.contact_name {
    padding: 4px;
    width: 304px;
}

input.contact_phone2 {
    padding: 4px;
}
a.pager {
    float: left;
    padding: 5px 10px;
    background: #ccc;
    margin: 10px 2px;
}

a.pager.current {
    background: #3C8DBD;
    color: #fff;
}