@charset "UTF-8";
*{
    padding:0;
    margin:0;
}
body {
    font-family:tahoma;
    padding:0;
    margin:0;
}

.armenian_gerb_home
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-left:35px;
}
.adminka
{
    /* display:inline-block; */
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 42px;
    padding-bottom: 10px;
    /* margin-top: 20px; */
}
.admin
{

    margin:0 auto;
    width: 237px;
    margin-top: 60px;
}
.admin ul li
{
    list-style:none;
}
.page
{
    margin:0px;
    padding: 0px;}
.login_form label {
    display:inline-block;
    margin: 15px 0;
    width: 70px;
    text-align:right;
}
.login_form input[type="text"],.login_form input[type="password"]{
    padding:5px
}
.login_form input[type="submit"]
{
    margin: 15px 0 15px 120px;
    text-decoration: none;
    padding: 11px 20px 11px 20px;
    border-radius: 3px;
    background-color: #2C8307;
    border-color: #2C8307;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
.errorMessage
{
    text-align: center;
    background-color: #fff4d4;
    border-bottom: 1px solid #fbd05a;
    display: inline-block;
    color: #000 !important;
    position: relative;
    right: 30px;
}
.all_right_images{
    float:left;
    margin-left: 30px;
    margin-top: 10px;
}
.welcome
{
    float:right;
    position: relative;
    right: 16px;
    top: 30px;
    color:#fff;
}
.welcome a
{
    text-decoration:none;
    background: linear-gradient(to bottom, #DE1A1A 0%, #D45959 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 26px;
    outline-style: none;
    line-height: 21px;
    padding: 1px 12px;
    position: relative;
    vertical-align: top;
    border-radius: 4px;
    position: relative;
    bottom: 4px;
}
.welcome a:hover
{
    color: #333;
    text-decoration: none;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    background: linear-gradient(to bottom, #F44343 0%,#F8ADAD 100%);
}
.menu{
    display:inline-block;
    width: 94%;
    /* background: #fff; */

    /* border-radius: 5px; */

    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41); */

    margin-left: 15px;

    margin-bottom: 20px;
    margin-top: 50px;
    list-style: none;
    /* height: 100%; */
}
.menu li
{
    /* float:left; */
    margin:10px;
    width: 103px;
}
.menu li a{
    display: inline-block;
    padding: 10px 38px 10px 10px;
    /* margin-bottom: 0; */
    width: 100%;
    font: 98%/138% "Trebuchet MS", Tahoma, Arial;
    line-height: 20px;
    color: #333;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: linear-gradient(to bottom,#fff,#ECA0BC);
    /* background-repeat: repeat-x; */
    /* border: 1px solid #bbb; */
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    /* border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25); */
    /* border-bottom-color: #a2a2a2; */
    /* -webkit-border-radius: 4px; */
    -moz-border-radius: 4px;
    /* border-radius: 4px; */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    /* -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05); */
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    /* box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05); */
}
.menu a:hover
{
    color: #333;
    text-decoration: none;
    background-position: 0 -41px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.all_cat_top
{
    display:inline-block;
    width:98%;
    /* background: #fff; */

    /* border-radius: 5px; */

    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41); */

    margin-left: 15px;

    /* margin-bottom: 20px; */
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.all_cat_cont
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);

    margin-left: 10px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;

}
.all_cat_table
{
    border-collapse:collapse;
    width:98%;
    margin:0 auto;
}
.all_cat_table td
{
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
.all_cat_table th
{
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    background-color:#CFD88F;
}
.all_cat_table form select
{
    font-size: 16px;
    padding:7px;
    cursor:pointer;
}
.all_cat_table form input[type="submit"]
{
    padding:9px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    border:none;
    cursor:pointer;
    color:#fff;
    font-size: 16px;
}
.all_cat_table form input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}
.all_cat_table form select option
{
    cursor:pointer;
}
.all_cat_table form select option:hover
{
    background-color:#ccc;
}
.all_cat_top h2,.edit_cat_tit h2,.add_cat_tit h2
{
    display:inline-block;
    margin-left:10px;
    color:#D58E56;
    margin-bottom:20px;
}
.all_cat_top a
{
    display:inline-block;
    float:right;
    margin-right:10px;
    margin-top:5px;
    text-decoration:none;
    padding:5px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.all_cat_top a:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}
.home_cont
{
    display:inline-block;
    width: 100%;
    /* background: #fff; */

    /* border-radius: 5px; */

    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41); */

    /* margin-left: 20%; */

    margin-bottom: 0px;
    list-style: none;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    /* background-color: #905E5E; */
    height: 100%;
}
.home_cont_att
{
    margin:0 auto;
    /* width: 60%; */
    margin-top: 40px;
    margin-bottom: 40px;
}
.post_count
{

    display: inline-block;
    padding: 10px;
    border: 2px dashed #ccc;
    color: #4EC200;
    margin-left:30px;
    font-size:20px;

}
.backpost
{
    background:url("../images/categori.png") no-repeat;
    width:35px;
    height:35px;
    display: inline-block;
    position: relative;
    top: 8px;
}
.backcat
{
    background:url("../images/adds.png") no-repeat;
    width:35px;
    height:35px;
    display: inline-block;
    position: relative;
    top: 8px;
}
.backpg
{
    background:url("../images/pages.png") no-repeat;
    width:35px;
    height:35px;
    display: inline-block;
    position: relative;
    top: 8px;
}
.backus
{
    background:url("../images/users.png") no-repeat;
    width:35px;
    height:35px;
    display: inline-block;
    position: relative;
    top: 8px;
}
.category_count
{
    display: inline-block;
    padding: 10px;
    border: 2px dashed #ccc;
    color: #4EC200;
    margin-left:30px;
    font-size:20px;

}
.page_count
{
    display: inline-block;
    padding: 10px;
    border: 2px dashed #ccc;
    color: #4EC200;
    margin-left:30px;
    font-size:20px;

}
.users_count
{
    display: inline-block;
    padding: 10px;
    border: 2px dashed #ccc;
    color: #4EC200;
    margin-left:30px;
    font-size:20px;

}
/*edit category*/
.edit_cat_cont
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.edit_img_brow
{
    display:inline-block;
    width: 450px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.edit_cat_cont input[type="text"]
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
    width: 310px;
}
.edit_cat_cont label
{
    margin-left:20px;
}
.edit_cat_cont select
{
    padding: 6px;
    margin-bottom: 30px;
    width: 320px;
    cursor:pointer;
    cursor:pointer;
}
.edit_cat_cont input[type="file"]
{
    margin-left:10px;
}
.edit_cat_cont input[type="submit"]
{
    text-decoration: none;
    padding: 11px 20px 11px 20px;
    border-radius: 3px;
    background-color: #2C8307;
    border-color: #2C8307;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 20px;
}
.edit_cat_cont input[type="submit"]:hover
{
    background-color: #4AD111;
    border-color: #4AD111;
}
/*Add category*/
.add_cat_cont
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.add_img_brow
{
    width: 450px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;

    /* margin-bottom: 20px; */
    margin: 0 auto;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 40px;
}

.add_cat_cont input[type="text"]
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
    width: 310px;
}
.add_cat_cont label
{
    margin-left:20px;
}
.add_cat_cont select
{
    padding: 6px;
    margin-bottom: 30px;
    width: 320px;
    cursor:pointer;
    cursor:pointer;
}
.add_cat_cont input[type="file"]
{
    margin-left:10px;
}
.add_cat_cont input[type="submit"]
{
    text-decoration: none;
    padding: 11px 20px 11px 20px;
    border-radius: 3px;
    background-color: #2C8307;
    border-color: #2C8307;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 20px;
}
.add_cat_cont input[type="submit"]:hover
{
    background-color: #4AD111;
    border-color: #4AD111;
}
/*Add page*/

.all_page_tit
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.all_page_cont
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;

}
.all_page_table
{
    border-collapse:collapse;
    width:100% !important;
    margin:0 auto;
    margin-top:5px;
}
.all_page_table td
{
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
.all_page_table th
{
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    background-color:#CFD88F;
}
.all_page_table form select
{
    font-size: 16px;
    padding:7px;
    cursor:pointer;
}
.all_page_table form input[type="submit"]
{
    padding:9px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    border:none;
    cursor:pointer;
    color:#fff;
    font-size: 16px;
}
.all_page_table form input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}
.all_page_table form select option
{

    cursor:pointer;
}
.all_page_table form select option:hover
{
    background-color:#ccc;
}
.all_page_tit h2,.edit_page_tit h2,.add_page_tit h2
{
    display: inline-block;
    margin-left: 10px;
    color: #D58E56;
    margin-top: 5px;
}
.all_page_tit a
{
    display: inline-block;
    float: right;
    margin-right: 10px;
    text-decoration: none;
    padding: 14px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.all_page_tit a:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}
/*Edit page*/
.edit_page_cont
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.edit_page_cont form
{
    margin:0 auto;
    width:50%;
}
.edit_page_cont input[type="text"]
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
    width: 583px;
}

.edit_page_cont input[type="submit"]
{
    text-decoration: none;
    padding: 11px 20px 11px 20px;
    border-radius: 3px;
    background-color: #2C8307;
    border-color: #2C8307;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    float: right;
}
.edit_page_cont input[type="submit"]:hover
{
    background-color: #4AD111;
    border-color: #4AD111;
}
.edit_page_textarea
{
    margin-top:20px;
}
.nicEdit-main
{
    min-height:400px !important;
}
/*Add page*/
.add_page_cont
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.add_page_cont form
{
    margin:0 auto;
    width:50%;
}
.add_page_cont input[type="text"]
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 6px;
    width: 583px;
}

.add_page_cont input[type="submit"]
{
    text-decoration: none;
    padding: 11px 20px 11px 20px;
    border-radius: 3px;
    background-color: #2C8307;
    border-color: #2C8307;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    float: right;
}
.add_page_cont input[type="submit"]:hover
{
    background-color: #4AD111;
    border-color: #4AD111;
}
.add_page_textarea
{
    margin-top:20px;
}

/*ERROR*/
.error
{
    text-align: center;
    width: 40%;
    background-color: #fff4d4;
    border-bottom: 1px solid #fbd05a;
    display: inline-block;
    color: #000 !important;
    position: relative;
    left: 440px;
    bottom: 8px;
}
/*Footer*/
.footer{
    text-align: center;
    display:inline-block;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #333;
    z-index: 11111;
}










/*nnnnnnnnnnnnnoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooorrrrrrrrrrrrrrrrrrrrrr*/
.header
{
    display:inline-block;
    width:100%;
    background: #333;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41); */
    position: fixed;
    z-index: 10000;
}
.menu_list
{
    display: inline-block;
    width: 20%;
    float: left;
    background-color: #333;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41); */
    position: fixed;
    z-index: 100;
    padding-top: 50px;
    height: 100%;
}
.middle
{
    display: inline-block;
    width: 80%;
    margin-left:20%;
    margin-top: 100px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1000px)
{
    .menu_list
    {
        display:none;
    }
    .middle
    {
        width:100%;
        margin-left:0;
    }
    .botton_menu
    {
        display:block !important;
    }
}


.menu_list_none
{
    display:inline-block;
    width:100%;
}

.menu_none
{
    display:inline-block;
    width: 100%;
    margin-top: 50px;
    list-style: none;
}
.menu_none li
{
    float:left;
    margin:10px;
    width: 103px;
}
.menu_none li a{
    display: inline-block;
    padding: 10px 38px 10px 10px;
    width: 45%;
    font: 98%/138% "Trebuchet MS", Tahoma, Arial;
    line-height: 20px;
    color: #333;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
.menu_none a:hover
{
    color: #333;
    text-decoration: none;
    background-position: 0 -41px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}
.botton_menu
{
    position: fixed;
    left: 48%;
    top: 9%;
    display:none;
}








.all_videos_top
{
    display:inline-block;
    width: 98%;
    margin-left: 15px;
    background: rgba(236, 160, 188, 1);
    padding: 15px 0 15px 0;
    border-radius: 5px;
}
.all_videos_top h2
{
    float:left;
    text-indent: 15px;
    color: #333;
}
.all_videos_top a
{
    float:right;
    position: relative;
    right: 15px;
    text-decoration: none;
    color: #F2E5E5;
    padding: 10px;
    background-color: #7BC311;
    border-radius: 5px;
}
.all_videos_top a:hover
{
    color:#000;

}
.all_videos_content
{
    display: inline-block;
    width: 98%;
    margin-left: 15px;
}
.all_videos_content table
{
    width:100%;
}
.all_videos_content table tr td img
{
    margin:5px;
}
.all_videos_content table tr td form select
{
    padding: 8px;
    cursor: pointer;
    outline:none;
    margin: 5px;
}
.all_videos_content table tr td form input
{
    padding: 8px;
    cursor: pointer;
}
.add_video_form	label,.add_video_form	  span
{
    width: 150px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #937B7B;
}
.add_video_form	input
{
    padding: 5px;
    display: inline-block;
    width: 221px;
}
.add_video_form select
{
    padding:5px;
    position:relative;
    right:5px;
    outline: none;
    cursor: pointer;
}

.add_video_form	input[type="checkbox"]
{
    height:25px;
}
.add_video_form	input[type="submit"]
{
    padding:10px;
    cursor: pointer;
    outline: none;
    background: #ECA0BC;
    border: none;
    color: #fff;
    font-size: 16px;
}
.add_video_form	input[type="submit"]:hover
{
    color:#000;
}
.in_roles_input input
{
    margin:10px;
}
.error
{
    /* width:100%; */
    text-align:center;
    font-size:20px;
    /* display:inline-block; */
    margin-top: 12px;
}
.category_content table tr td
{
    text-align:center;
    padding: 10px;
}

.active_lang,.activer
{
    background:none !important;
}
.add_category_content label
{
    width:240px !important;
    margin-top:30px !important;
}

.all_videos_content tr td
{
    padding:10px;
}
.khmbagrel
{
    text-decoration: none;
    padding: 11px 20px 11px 20px;
    border-radius: 3px;
    background-color: #2C8307;
    border-color: #2C8307;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 4px;
}
.jnjel
{
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #C96500;
    border-color: #C96500;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.text_lang th
{
    padding:10px;
}
.jnjel:hover,.khmbagrel:hover
{
    color:#000;
}
.add_tr
{
    background:#ECA0BC;
    border:none;
    color:#fff;
    font-size: 16px;
    border-radius: 5px;
}
.add_tr:hover
{
    color:#000;
}

.country_top
{
    width: 100%;
    background: #ccc;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.country_top input
{
    padding: 5px;
    margin-left: 15px;
    outline-color: #ECA0BC;
}
.country_top label
{
    font-size:16px;
}
.country_add_knop
{
    text-decoration: none;

    padding: 10px 40px 10px 40px !important;
    border-radius: 3px;
    background-color: #2C8307;
    border-color: #2C8307;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 4px;
    margin-left: 4px;
}
.country_add_knop:hover
{
    color:#000;
}
.country_list
{
    text-align:center;
}
.backgrounds
{
    margin-top: 50px;
    text-align: center;
    background: #E2E2E2;
    padding: 40px;
}
.all_video_list_top
{
    padding: 15px;
    background: #CFD88F;
}
.all_video_list_top th
{
    padding:10px;
}
.add_img_brow input[type="submit"]
{
    position:relative;
    top:20px;
    padding: 5px 25px;
    cursor: pointer;
    border: none;
    background: #F5CCDB;
    color: #000;
    outline: none;
}
.add_img_brow input[type="submit"]:hover
{
    color:#282824;
}
.title_back
{
    font-size:20px;
    color: #282824;
    margin-bottom: 21px;
    display: inline-block;
}
.countries_stolb {
    /* float: left; */
    display: inline-block;
    text-align: center;
    width: 60px;
}

.section_statistics {
    display: inline-block;
    float: right;
    margin-right: 40px;
    padding: 30px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.stolb_height {
    background: #0088F1;
}
.stolb_name {
    font-size: 13px;
}

.one_type_attr.col-md-12 {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 7px 12px;
    width: 98%;
    font-size: 17px;
    background-color: #F9F9F9;
    /* text-indent: 0px; */
}
.right_filter_id {
    float: right;
    display: inline-block;
    width: 15%;
}

input.filter_id {
    text-indent: 10px;
}

.right_filter_id a {
    background-color: #ccc;
}
